div{
    height:100px;
    width:200px;
    border-width: 70px;
    border-style: solid;
    border-color: aquamarine;
    
}
h1{
    height:100px;
    width:200px;
    border-width: 70px;
    border-style: solid;
    border-color: aquamarine;
}